.flows.json.backup
[{"id":"60a191f09221d2a3","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"29e132107eeca051","type":"inject","z":"60a191f09221d2a3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["21368a6d5edf9e90"]]},{"id":"21368a6d5edf9e90","type":"debug","z":"60a191f09221d2a3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":180,"wires":[]},{"id":"f94d69ff787a2d6f","type":"config","z":"60a191f09221d2a3","name":"PRD","properties":[{"p":"TZ","pt":"prd","to":"\"America/Fortaleza\"","tot":"prd"},{"p":"NODE_ENV","pt":"prd","to":"\"production\"","tot":"prd"},{"p":"NODE_RED_ENABLE_PROJECTS","pt":"prd","to":"\"true\"","tot":"prd"},{"p":"DATA","pt":"prd","to":"\"yyyy-MM-DD\"","tot":"prd"}],"script":"nodered-template-base","active":true,"enabled":true,"url":"","swagger":"","x":220,"y":380,"wires":[]}]